#background {
  width: 100vw;
  height: 100vh !important;
  position: fixed !important;
  display: block;
  overflow: hidden;
  background: url('/static/AITC-0001/jacketBack.png') no-repeat fixed;
  background-size: auto 100%;
  background-position: center;
  z-index: -65535;
}

section#front {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  min-height: 1000px;
  z-index: -1024;
}

.front_display {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: url('/static/AITC-0001/jacketFront.png') no-repeat fixed;
  background-size: cover;
  background-position: center;
}
