li.info_list_item {
  height: auto;
  margin: 0 0 25px;
}

li.track_list_item,
li.credit_list_item {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  display: block;
  color: #fdfdfd;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}

@media screen and (min-width: 1280px) {
  li.track_list_item,
  li.credit_list_item {
    max-width: 100%;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  li.track_list_item,
  li.credit_list_item {
    width: 100%;
    margin: 0;
    float: none;
    color: #fdfdfd;
  }
}
