footer {
  width: 100%;
  height: 120px;
  text-align: center;
  position: absolute;
  display: block;
  overflow: hidden;
  background: #272828;

  & span {
    width: 100%;
    height: 15px;
    bottom: 0;
    color: #effeff;
  }
}

.footer_logo {
  width: 100px;
  height: 100px;
  background: url('/static/AITC-0001/logo.png') no-repeat;
  background-size: cover;
  margin: auto;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  margin-top: 5px;
  border-radius: 50%;
}
